<div class="sin-overflow">
  <h3>Sin Overflow</h3>
  <div class="sin-overflow-controls" style="display: flex; flex-direction: column; align-items: center;">
    <div id="sinOverflow-checkboxes" style="display: flex; justify-content: center; margin-top: 10px;">
      {{#range 0 system.sinOverflow.max}}
        {{#if (lt index ../system.sinOverflow.value)}}
          <img 
            class="sinOverflow-icon sinOverflow-icon-anim sin-icon-anim-{{mod (offset index ../sheetConstants.SINVisualOffset) 7}}"
            data-sin="{{offset index 1}}"/>
        {{else}}
          <img 
            class="sinOverflow-icon"
            src="systems/cain/assets/sheet/CAIN-sin-no.png"
            data-sin="{{offset index 1}}"/>
        {{/if}}
      {{/range}}
    </div>
    <h3 style="margin-bottom: 1rem;">{{system.sinOverflow.value}} / {{system.sinOverflow.max}}</h3>
    <div style="display: flex; justify-content: center; margin-top: 10px; margin-bottom: 20px">
      <label class="resource-label rollable flexlarge align-left mob-psycho-label" 
             data-roll="1d3" 
             data-label="{{localize 'SHEET.SIN.ROLLSIN'}}" 
             style="text-align: center;">
        {{localize 'SHEET.SIN.ROLLSIN'}}
      </label>
      <label class="resource-label rollable align-left mob-psycho-label" 
             data-roll="1d6+{{system.currentSinMarks.length}}" 
             data-label="{{localize 'SHEET.SIN.ROLLRESIST'}}" 
             style="text-align: center; flex: 2;">
        {{localize 'SHEET.SIN.ROLLRESIST'}}
      </label>
    </div>
    <label for="sinOverflow-max">{{localize 'SHEET.SIN.ADJUSTMAX'}}</label>
    <input type="number" id="sinOverflow-max" data-tooltip="{{localize 'SHEET.TOOLTIPS.SINMAXADJUST'}}" name="system.sinOverflow.max" value="{{system.sinOverflow.max}}" min="{{system.sinOverflow.min}}" max="10" style="width: 100px; text-align: center;" />
  </div>
</div>

<div class="sin-marks">
  <h3>Sin Marks</h3>
  {{#if system.currentSinMarks.length}}
    <ul>
      {{#each system.currentSinMarks}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p class="no-sin-marks">
      A sin mark is a physical manifestation of wild power overflow on your body, evidence of your partial transformation into a sin. You can find a list of sin marks, their effects, and their table, on pg. 86. A sin mark is a new, permanent part of your character. It grants new, beneficial power, and grants you new abilities.
    </p>
  {{/if}}
  <div class="button-row">
    <button class="roll-sin-mark">Roll Sin Marks</button>
    <button class="clear-sin-marks">Clear Sin Marks</button>
    <button class="delete-sin-mark">Delete Sin Mark</button>
  </div>
</div>