<style>
  .roller-box {
    background-color: #2c2c2c;
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .roller-box .resource-label {
    color: white;
  }
  .roller-box .flex-group-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .roller-box .checkbox-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .roller-box .checkbox-group .resource {
    margin-right: 10px;
  }
  .roller-box .demon-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .roller-box .demon-checkbox input[type="checkbox"] {
    margin-right: 5px;
  }
  .roller-box .demon-checkbox label {
    color: red;
    font-weight: bold;
  }
  .xp-button {
    background-color: red;
  }
  .roller-box select {
    border: 1px solid red;
    background-color: white;
  }
  .roller-box .roll-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }
  .roller-box .roll-button button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  .resource-header {
    color: white;
  }
  .flex-group {
    display: flex;
    align-items: center;
  }
  .flex-group .resource,
  .flex-group .demon-checkbox {
    margin-right: 10px;
  }
  .advancements-experience-box {
    background-color: #2c2c2c;
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
  }
  .advancements-experience-box .resource-label {
    color: white;
  }
  .advancements-experience-box .checkbox-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .advancements-experience-box .checkbox-group .resource {
    margin-right: 10px;
  }
  .advancements-experience-box .xp-button {
    background-color: red;
  }

  /* Inline styles moved to the style tag */
  .advancements-experience-box .resource {
    font-family: 'Courier New', Courier, monospace;
  }
  .xp-button-group.flexrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .xp-button#increment-xp-value {
    background-color: #660000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 90%;
    display: inline-block;
  }
  .xp-button#decrement-xp-value {
    background-color: #00bffe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 90%;
    display: inline-block;
  }
  .xp-button#increment-max-xp-value {
    background-color: #660000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 90%;
    display: inline-block;
  }
  .xp-button#decrement-max-xp-value {
    background-color: #00bffe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 90%;
    display: inline-block;
  }
  .xp-button#session-end-xp-value {
    background-color: #6e3274;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 30%;
    display: inline-block;
  }
  #xp-output {
    display: block;
    font-size: 1.2em;
    margin-top: 10px;
  }
  .checkbox-group[data-field="xp"] {
    margin-top: 10px;
  }
</style>

<h3 class='resource-header'>Cat Level</h3>
<div class="resource">
  <div class="group_cat">
    {{#times 7}}
    <div class="checkbox-item_cat">
      <div class="CAT-selector {{#if (eq system.CATLEVEL.value @index)}}CAT-selected{{/if}}" data-cat="{{@index}}" title="{{testData}}" data-tooltip="{{localize 'SHEET.TOOLTIPS.CATSELECT'}}">
        <img src="systems/cain/assets/CAT/CAT{{@index}}.png" alt="CAT {{@index}}">
      </div>
      <div class="CAT-session-text" data-tooltip="{{localize 'SHEET.TOOLTIPS.SURVIVED'}}">{{lookup sheetConstants.CATSessionNumbers (CainOffset @index -1)}}</div>
    </div>
    {{/times}}
  </div>
</div>

<div class="advancements-experience-box">
  <div class="resource">
    <label for="xp"> <h2 class="resource-header">XP & Advancements</h3></label> 
    <div class="xp-button-group flexrow">
      <div class="flexcol">        
        <button id="increment-xp-value" class="xp-button">
          Gain 1 XP
        </button>
        <button id="decrement-xp-value" class="xp-button">
          Lose 1 XP
        </button>
      </div>
      <div class="flexcol">        
        <button id="increment-max-xp-value" class="xp-button">
          +1 Max XP
        </button>
        <button id="decrement-max-xp-value" class="xp-button">
          -1 Max XP
        </button>
      </div>
      <button id="session-end-xp-value" class="xp-button">
        End Session XP
      </button>
    </div>
    <div>
      <output id="xp-output">{{system.xp.value}} / {{system.xp.max}}</output>
    </div>
    <div class="checkbox-group" data-field="xp">
      {{#times system.xp.max}}
      <input type="checkbox" id="xp-checkbox-{{@index}}" name="xp-{{@index}}" {{#if (gte system.xp.value @index)}}checked{{/if}} disabled/>
      {{/times}}
    </div>
  </div>

  <div class="resource">
    <label for="system.advancements.value" class="resource-label">Advancements</label>
    <output id="advancements-output">{{system.advancements.value}}</output>
    <div class="checkbox-group" data-field="advancements" style="margin-top: 10px;">
      {{#times system.advancements.max}}
      <input type="checkbox" id="advancements-checkbox-{{@index}}" name="advancements-{{@index}}" {{#if (gte system.advancements.value @index)}}checked{{/if}}/>
      {{/times}}
    </div>
  </div>
</div>

<div class="grid grid-3col">
  <div class="resource">
    <label for="divineAgony">Divine Agony</label>
    <div class="checkbox-group" data-field="divineAgony">
      {{#times 3}}
      <input type="checkbox" name="divineAgony-{{@index}}" {{#if (gte system.divineAgony.value @index)}}checked{{/if}}/>
      {{/times}}
    </div>
  </div>

  <div class="resource">
    <label for="injuries">Injuries</label>
    <div class="checkbox-group" data-field="injuries">
      {{#times 3}}
      <input type="checkbox" name="injuries-{{@index}}" {{#if (gte system.injuries.value @index)}}checked{{/if}}/>
      {{/times}}
    </div>
  </div>

  <div class="resource">
    <label for="stress">Stress</label>
    <div class="checkbox-group" data-field="stress">
      {{#times 6}}
      <input type="checkbox" name="stress-{{@index}}" {{#if (gte system.stress.value @index)}}checked{{/if}}/>
      {{/times}}
    </div>
  </div>
</div>

<div class="roller-box">
  <h2 class="resource-header">Dice Roller</h2>
  <div class="flex-group-center">
    <div class="flex-group">
      <div class="resource">
        <label for="system.skill" class="resource-label">Select Skill</label>
        <select name="system.skill" data-dtype="String">
          {{#each @root.config.skills as |skill key|}}
            <option value="{{key}}" {{#if (eq system.skill key)}}selected{{/if}}>{{localize (concat 'CAIN.Skill.' key '.long')}}</option>
          {{/each}}
        </select>
      </div>
      <div class="demon-checkbox">
        <input id="use-divine-agony" type="checkbox" name="use-divine-agony" value="0">
        <label for="use-divine-agony">Use Divine Agony</label>
      </div>
    </div>
    <div class="checkbox-group">
      <div class="resource">
        <label for="teamwork">Teamwork</label>
        <input id="teamwork" type="checkbox" name="teamwork" value="0">
      </div>
      <div class="resource">
        <label for="setupPage">Setup</label>
        <input id="setupPage" type="checkbox" name="setup" value="0">
      </div>
      <div class="resource">
        <label for="hard">Hard</label>
        <input id="hard" type="checkbox" name="hard" value="0">
      </div>
      <div class="resource">
        <label for="extra-dice">Extra Dice</label>
        <input id="extra-dice" type="number" name="extra-dice" value="0" min="0">
      </div>
    </div>
    <div class="roll-button">
      <button type="button">Roll</button>
    </div>
  </div>
</div>

<h2>ADVANCEMENT</h2>
<p>At the end of each session, answer each question, then mark xp. Cash an advance each time you mark 4.</p>
<ul>
  <li>Did you survive?</li>
  <li>Did you follow your first agenda item?</li>
  <li>Did you follow at least one bolded agenda item?</li>
  <li>Did you follow two or more bolded agenda items?</li>
  <li>Did you take an injury or affliction?</li>
</ul>

<h2>ACTION ASSESSMENT METRIC</h2>
<div class="grid grid-3col">
  <p>4+<br>SUCCESS</p>
  <p>RISKY<br>Admin rolls the risk die</p>
  <p>HARD<br>Successes on a 6</p>
</div>

<ul>
  <li>Teamwork (Combine highest bonuses)</li>
  <li>Setup yourself or another: (+1D, -risk, or -hard)</li>
  <li>Spend 1 psyche burst to use your powers (+1D)</li>
  <li>Use your abilities</li>
  <li>Bargain with the Admin (Gain a hook or tradeoff)</li>
  <li>… +3 dice maximum</li>
</ul>