<div class="abilities-page abilities-page-drop-target">
  <!-- Psyche Section -->
  <div class="psyche-section" style="text-align: center; margin-bottom: 20px;">
    <div style="display: flex; justify-content: center; align-items: center;">
      {{#if system.psyche}}
        <button class="psyche-roll-button" style="margin-right: 20px;">
          Roll Psyche ({{system.psyche}}d6)
        </button>
      {{else}}
        <button class="psyche-roll-button" style="margin-right: 20px;" disabled>
          Roll Psyche (N/A)
        </button>
      {{/if}}
      <div class="psyche-burst-checkboxes" style="display: flex; align-items: center;">
        <label style="margin-right: 10px;">Psyche Burst Charges:</label>
        {{#if system.psycheBurst}}
          {{#range 0 system.psycheBurst.max}}
            <input type="checkbox" id="checkbox-{{index}}" class="psyche-burst-checkbox" {{#if (lt index ../system.psycheBurst.value)}}checked{{/if}} />
            <label for="checkbox-{{index}}"></label>
          {{/range}}
        {{else}}
          <p>No Psyche Burst Data</p>
        {{/if}}
      </div>
    </div>
    <div class="psyche-info" style="margin-top: 20px; text-align: left;">
      <p>Using any blasphemy power requires a psyche burst. Some can spend multiple for extra benefit.</p>
      <ul>
        <li>You can always spend a psyche burst to add +1 advantage die to any roll (yours or an ally’s) by using your blasphemies in a creative way.</li>
        <li>You always start a mission with three psyche bursts.</li>
        <li>You can recover them by resting during a hunt (see pg. 38) or through the uses of abilities.</li>
      </ul>
    </div>
  </div>
  <!-- My Agenda Section -->
<!-- My Agenda Section -->
<!-- My Agenda Section -->
  <div class="my-agenda-section" style="margin-bottom: 20px;">
    <h2 title="Drag new agenda here to swap">    
    {{#if currentAgenda }}
      {{currentAgenda.name}}
    {{else}}
      <p class="psychedelic-text">Drag agenda onto your sheet.</p>
    {{/if}}
    </h2>
    <div class="editable-agenda">
      <div class="agenda-items">
        <h3>Agenda Tasks</h3>
        <ul id="editable-agenda-items" class="items-list">
          {{#each currentUnboldedAgendaTasks}}
            <li class='item flexrow'>
              <p data-index="{{@index}}" style="font-weight: {{#if this.system.isBold}}bold{{else}}normal{{/if}};">{{this.system.task}}</p>
              <div class="item-controls">
                <a class="item-control agenda-task-to-chat" data-index="{{@index}}" title="Send to Chat">
                  <i class="fas fa-comment"></i>
                </a>
                <a class="item-control remove-task-button" data-index="{{@index}}" title="Remove">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}}
            {{#each currentBoldedAgendaTasks}}
            <li class='item flexrow'>
              <p data-index="{{@index}}" style="font-weight: {{#if this.system.isBold}}bold{{else}}normal{{/if}};">{{this.system.task}}</p>
              <div class="item-controls">
                <a class="item-control agenda-task-to-chat" data-index="{{@index}}" data-bold title="Send to Chat">
                  <i class="fas fa-comment"></i>
                </a>
                <a class="item-control remove-task-button" data-index="{{@index}}" data-bold title="Remove">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
          {{/each}}

        </ul>
      </div>

      <div class="agenda-abilities">
        <h3>Agenda Abilities</h3>
        <ul id="editable-agenda-abilities" class="items-list">
          {{#each currentAgendaAbilities}}
            <li>
              <span data-index="{{@index}}" title="{{this.system.abilityDescription}}">{{this.system.abilityName}}</span>
              <a class="item-control agenda-ability-to-chat" data-index="{{@index}}" title="Send to Chat">
                <i class="fas fa-comment"></i>
              </a>
              <a class="item-control remove-ability-button" data-index="{{@index}}" title="Remove">
                <i class="fas fa-trash"></i>
              </a>
            </li>
          {{/each}}
        </ul>
        <div class="form-group">
          <label for="selectedItem">Available Abilities:</label>
          <select name="selectedItem" id="selectedItem" style="background-color:antiquewhite">
            {{#each currentAgendaAvailableAbilities}}
              <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
          </select>
          <button type="button" id="add-agenda-ability-button" class="add-agenda-ability-button" {{#unless currentAgendaAvailableAbilities.length}} disabled {{/unless}}>Add Ability</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Items Section -->
  <div class="items-section" style="display: flex; justify-content: space-between;">
  <!-- Blasphemy Powers -->
  <div class="blasphemy" style="width: 100%;">
    <h2>Blasphemies</h2>
    {{#each blasphemyData}}
    <div class="blasphemy-powers" style="width: 100%;">
      <h3>{{blasphemy.system.blasphemyName}}
            <a class="item-control remove-blasphemy-button" data-id="{{blasphemy.id}}" title="Remove">
              <i class="fas fa-trash"></i>
            </a>
      </h3>
      <h4>Passive{{#if (gt passives.length 1)}}s{{/if}}</h3>
      <ul class="editable-blasphemy-powers">
        {{#each passives}}
          <li>
            <span data-id="{{this.id}}" title="{{this.system.powerDescription}}">{{this.system.powerName}}</span>
            <a class="item-control blasphemy-power-to-chat" data-id="{{this.id}}" title="Send to Chat">
              <i class="fas fa-comment"></i>
            </a>
            <a class="item-control remove-blasphemy-power-button" data-id="{{this.id}}" title="Remove">
              <i class="fas fa-trash"></i>
            </a>
          </li>
        {{/each}}
      </ul>
      <h4>Powers</h3>
      <ul>
        {{#each powers}}
          <li>
            <span data-id="{{this.id}}" title="{{this.system.powerDescription}}">{{this.system.powerName}}</span>
            <a class="item-control blasphemy-power-to-chat" data-id="{{this.id}}" title="Send to Chat">
              <i class="fas fa-comment"></i>
            </a>
            <a class="item-control remove-blasphemy-power-button" data-id="{{this.id}}" title="Remove">
              <i class="fas fa-trash"></i>
            </a>
          </li>
        {{/each}}
      </ul>
      <div class="form-group">
        <label for="selectedItem">Available Powers:</label>
        <select name="selectedItem" id="selectedItem" style="background-color:antiquewhite">
          {{#each availablePowers}}
            <option value="{{this.id}}">{{this.system.powerName}}</option>
          {{/each}}
        </select>
        <button type="button" class="add-blasphemy-power-button" {{#unless availablePowers.length}} disabled {{/unless}}>Add Power</button>
      </div>
    </div>
    
    {{/each}}
    {{#if currentUnlinkedBlasphemyPowers.length}}
        <div class="blasphemy-powers" style="width: 100%;">
          <h3>Other Powers</h3>
            <ul class="editable-blasphemy-powers">
            {{#each currentUnlinkedBlasphemyPowers}}
              <li>
                <span data-id="{{this.id}}" title="{{this.system.powerDescription}}">{{this.system.powerName}}</span>
                <a class="item-control blasphemy-power-to-chat" data-id="{{this.id}}" title="Send to Chat">
                  <i class="fas fa-comment"></i>
                </a>
                <a class="item-control remove-blasphemy-power-button" data-id="{{this.id}}" title="Remove">
                  <i class="fas fa-trash"></i>
                </a>
              </li>
            {{/each}}
          </ul>
    {{/if}}
  </div>
</div>
</div>

<style>
.abilities-page {
  padding: 20px;
}

.abilities-page .psyche-roll-button {
  background: linear-gradient(45deg, #ff00cc, #3333ff);
  color: #fff;
  border: 2px solid #ff00cc;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-shadow: 1px 1px 2px #000;
  transition: background 0.3s;
}

.abilities-page .psyche-roll-button:hover {
  background: linear-gradient(45deg, #3333ff, #ff00cc);
}

.abilities-page .psyche-burst-checkboxes input[type="checkbox"] {
  display: none;
}

.abilities-page .psyche-burst-checkboxes input[type="checkbox"] + label {
  display: inline-block;
  padding: 0;
  background: url('systems/cain/assets/brain.png') no-repeat;
  height: 50px;
  width: 50px;
  background-size: cover;
  position: relative;
}

.abilities-page .psyche-burst-checkboxes input[type="checkbox"] + label::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border: 3px solid purple; /* Adjust the thickness here */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abilities-page .psyche-burst-checkboxes input[type="checkbox"]:checked + label::before {
  background-color: purple;
}

.abilities-page .items-section {
  margin-top: 20px;
}

.abilities-page .items-list {
  background-color: #1a1a1a;
  color: #e0e0e0;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  border: 1px solid #444;
}

.abilities-page .item-name h4 {
  color: #ff0000;
}

.abilities-page .item-controls a {
  color: #e0e0e0;
  margin-left: 5px;
}

.abilities-page .item-controls a:hover {
  color: #ff0000;
}

.abilities-page .add-agenda-ability-button, .abilities-page .create-blasphemy-button {
  background-color: #1a1a1a;
  color: #e0e0e0;
  border: 1px solid #444;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.abilities-page .add-agenda-ability-button:hover, .abilities-page .create-blasphemy-button:hover {
  background-color: #444;
}


.abilities-page .add-blasphemy-power-button, .abilities-page .create-blasphemy-button {
  background-color: #1a1a1a;
  color: #e0e0e0;
  border: 1px solid #444;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.abilities-page .add-blasphemy-power-button:hover, .abilities-page .create-blasphemy-button:hover {
  background-color: #444;
}



.abilities-page .psychedelic-text {
  color: #9933ff;
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-shadow: 2px 2px 4px #000;
  animation: psychedelic-animation 1s infinite alternate;
  font-weight: calc(100 + (900 - 100) * random());
  font-size: calc(16px + (32px - 16px) * random());
}

.abilities-page .agenda-items, .abilities-page .agenda-abilities {
  width: 48%;
}

@keyframes psychedelic-animation {
  from {
    color: #ff00cc;
  }
  to {
    color: #3333ff;
  }
}

.abilities-page .my-agenda-section {
  margin-bottom: 20px;
  text-align: center; /* Center the My Agenda section */
}


.abilities-page .editable-agenda {
  display: flex; /* Use flexbox to align items side by side */
  justify-content: space-around; /* Space between the two sections */
  text-align: left; /* Align text to the left within the editable agenda */
}

.abilities-page .editable-agenda h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #e0e0e0;
  font-family: 'Courier New', Courier, monospace;
}

.abilities-page .items-list {
  background-color: #1a1a1a;
  color: #e0e0e0;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px; /* Reduced padding */
  border: 1px solid #444;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  width: 100%; /* Make the lists take up less space */
}

.abilities-page .item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.abilities-page .item textarea {
  flex: 1;
  padding: 5px; /* Reduced padding */
  border: 1px solid #444;
  background-color: #333;
  color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 12px; /* Smaller font size */
  width: 100%; /* Make the text areas wider */
  resize: vertical; /* Allow vertical resizing */
}

.abilities-page .item button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #1a1a1a;
  color: #e0e0e0;
  border: 1px solid #444;
  cursor: pointer;
  font-size: 12px; /* Smaller font size */
}

.abilities-page .item button:hover {
  background-color: #444;
}

.abilities-page .create-agenda-button {
  background-color: #1a1a1a;
  color: #e0e0e0;
  border: 1px solid #444;
  padding: 5px 10px; /* Reduced padding */
  cursor: pointer;
  margin-top: 10px;
  font-size: 12px; /* Smaller font size */
}

.abilities-page .create-agenda-button:hover {
  background-color: #444;
}
</style>