<div class="sin-overflow sin-page-drop-target">
  <h3>Sin Overflow</h3>
  <div class="sin-overflow-controls" style="display: flex; flex-direction: column; align-items: center;">
    <div id="sinOverflow-checkboxes" style="display: flex; justify-content: center; margin-top: 10px;">
      {{#range 0 system.sinOverflow.max}}
        {{#if (lt index ../system.sinOverflow.value)}}
          <img 
            class="sinOverflow-icon sinOverflow-icon-anim sin-icon-anim-{{mod (offset index ../sheetConstants.SINVisualOffset) 7}}"
            data-sin="{{offset index 1}}"/>
        {{else}}
          <img 
            class="sinOverflow-icon"
            src="systems/cain/assets/sheet/CAIN-sin-no.png"
            data-sin="{{offset index 1}}"/>
        {{/if}}
      {{/range}}
    </div>
    <h3 style="margin-bottom: 1rem;">{{system.sinOverflow.value}} / {{system.sinOverflow.max}}</h3>
    <div style="display: flex; justify-content: center; margin-top: 10px; margin-bottom: 20px">
      <label class="resource-label rollable flexlarge align-left mob-psycho-label" 
             data-roll="1d3" 
             data-label="{{localize 'SHEET.SIN.ROLLSIN'}}" 
             style="text-align: center;">
        {{localize 'SHEET.SIN.ROLLSIN'}}
      </label>
      <label class="resource-label rollable align-left mob-psycho-label" 
             data-roll="1d6+{{system.currentSinMarks.length}}" 
             data-label="{{localize 'SHEET.SIN.ROLLRESIST'}}" 
             style="text-align: center; flex: 2;">
        {{localize 'SHEET.SIN.ROLLRESIST'}}
      </label>
    </div>
    <label for="sinOverflow-max">{{localize 'SHEET.SIN.ADJUSTMAX'}}</label>
    <input type="number" id="sinOverflow-max" data-tooltip="{{localize 'SHEET.TOOLTIPS.SINMAXADJUST'}}" name="system.sinOverflow.max" value="{{system.sinOverflow.max}}" min="{{system.sinOverflow.min}}" max="10" style="width: 100px; text-align: center;" />
  </div>
</div>

<div class="sin-marks sin-page-drop-target">
  <h3>Sin Marks</h3>
  {{#if currentSinMarkData.length}}
    <ul>
      {{#each currentSinMarkData}}
        <li>
          <h1>{{this.sinMark.name}}</h1>
          <ul>
            {{#each this.abilities}}
              <li class="flexrow sin-mark">
                <div class="flexcol sin-mark-content" style="flex: 1 1 0;">
                <h3>{{this.name}}</h3><p class="sin-mark-description">{{this.description}}</p> 
                </div>
                <div class="flexcol remove-sin-mark-div">
                <button data-markindex="{{@../index}}" data-abilityindex="{{@index}}" class="{{#unless (and @first @last)}}remove-sin-mark-ability-button{{else}}delete-sin-mark{{/unless}} remove-sin-mark-button"> 
                  <i class="fas fa-trash"></i>
                </button>
                </div>
              </li>
            {{/each}}
          </ul>
          <button class="evolve-mark-button" data-markindex="{{@index}}"><h2 style="position: relative; background: inherit; border: none;"><span class="glitch" data-text="SUCCOMB"> EVOLVE </span></h2></button>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="no-sin-marks">
      A sin mark is a physical manifestation of wild power overflow on your body, evidence of your partial transformation into a sin. You can find a list of sin marks, their effects, and their table, on pg. 86. A sin mark is a new, permanent part of your character. It grants new, beneficial power, and grants you new abilities.
    </p>
  {{/if}}
  <div class="button-row">
    <button class="roll-sin-mark">Roll Sin Marks</button>
    <button class="clear-sin-marks">Clear Sin Marks</button>
    <button class="delete-sin-mark">Delete Sin Mark</button>
  </div>
</div>

<style>
.sin-mark {
    display: flex;
    position: relative;
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 2px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 20px 0;
    margin-bottom: 20px 0;
    margin-left: 10px 0;
    margin-right: 0px 0;
    background-color: #404040;
    color: aliceblue;
}

.sin-mark-content {
    line-height: 1.4;
    padding-right: 2px; /* Add padding to give space between content and trashcan */
}

.sin-mark-description {
    margin: 5px 0;
    color:aliceblue;
    line-height: 1.4;
}

.remove-sin-mark-div {
    padding-left: 0 0px;
    padding-top: 0 0px;
    display: flex;
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    max-width: 30px; /* Optional: Set a max-width if you want to prevent it from becoming too large */
}

.remove-sin-mark-button {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 30px;
    background-color: brown;
    border-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0px solid white;
}

.remove-sin-mark-button i {
    color: black;
    font-size: 16px;
    text-align: center; /* Center the icon within its container */
}
</style>