<div class="tab attacks" data-group="primary" data-tab="attacks">
  <div class="form-group dark-form-group">
    <label for="system.attackRoll.lowDamage">Roll Damage</label>
    <input type="text" name="system.attackRoll.lowDamage" value="{{system.attackRoll.lowDamage}}"/>
  </div>
  <div class="form-group dark-form-group">
    <label for="system.attackRoll.mediumDamage">Medium Damage</label>
    <input type="text" name="system.attackRoll.mediumDamage" value="{{system.attackRoll.mediumDamage}}"/>
  </div>
  <div class="form-group dark-form-group">
    <label for="system.attackRoll.highDamage">High Damage</label>
    <input type="text" name="system.attackRoll.highDamage" value="{{system.attackRoll.highDamage}}"/>
  </div>
  <div class="form-group dark-form-group">
    <label for="system.attackRoll.rollFormula">Roll Formula</label>
    <input type="text" name="system.attackRoll.rollFormula" value="{{system.attackRoll.rollFormula}}"/>
  </div>
  <div class="form-group dark-form-group">
    <label for="system.severeAttack.description">Severe Attack Description</label>
    <textarea name="system.severeAttack.description">{{system.severeAttack.description}}</textarea>
  </div>
  <div class="form-group dark-form-group">
    <label for="system.severeAttack.rollFormula">Severe Attack Roll Formula</label>
    <input type="text" name="system.severeAttack.rollFormula" value="{{system.severeAttack.rollFormula}}"/>
  </div>
    <div class="form-group dark-form-group">
    <label for="system.afflictions" class="centered-label">Afflictions</label>
    <table class="afflictions-table">
      <thead>
        <tr>
          <th>Affliction</th>
        </tr>
      </thead>
      <tbody>
        {{#each system.afflictions}}
          <tr>
            <td>{{this}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <button class="roll-affliction">Roll Affliction</button>
  </div>
</div>