<form class="{{cssClass}} {{actor.type}} flexcol mob-psycho-theme no-border" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header mob-psycho-header character-drop-target">

    <img class="profile-img mob-psycho-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200"/>
                                   
    <div class="header-fields mob-psycho-header-fields">
      <h1 class="charname mob-psycho-charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      <div class="grid grid-4col">
        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.sex" class="resource-label mob-psycho-label">Sex</label>
          <input type="text" name="system.sex" value="{{system.sex}}" data-dtype="String" class="mob-psycho-input"/>
        </div>
        
        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.height" class="resource-label mob-psycho-label">Height</label>
          <input type="text" name="system.height" value="{{system.height}}" data-dtype="String" class="mob-psycho-input"/>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.weight" class="resource-label mob-psycho-label">Weight</label>
          <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="String" class="mob-psycho-input"/>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.hair" class="resource-label mob-psycho-label">Hair</label>
          <input type="text" name="system.hair" value="{{system.hair}}" data-dtype="String" class="mob-psycho-input"/>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.eyes" class="resource-label mob-psycho-label">Eyes</label>
          <div class="resource-content flexrow flex-center flex-between mob-psycho-resource-content">
            <input type="text" name="system.eyes" value="{{system.eyes}}" data-dtype="String" class="mob-psycho-input"/>
          </div>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.agenda" class="resource-label mob-psycho-label">Agenda</label>
          <div class="resource-content flexrow flex-center flex-between mob-psycho-resource-content">
            <input type="text" name="system.agenda" value="{{system.agenda}}" data-dtype="String" class="mob-psycho-input"/>
          </div>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.blasphemy" class="resource-label mob-psycho-label">Blasphemy</label>
          <div class="resource-content flexrow flex-center flex-between mob-psycho-resource-content">
            <input type="text" name="system.blasphemy" value="{{system.blasphemy}}" data-dtype="String" class="mob-psycho-input"/>
          </div>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.XID" class="resource-label mob-psycho-label">XID</label>
          <div style="padding: 5px">
            <input type="text" name="system.XID" value="{{system.XID}}" data-dtype="Number" class="mob-psycho-input"/>
          </div>
        </div>
      </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs mob-psycho-tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item mob-psycho-tab-item" data-tab="features">Stats & Advancements</a>
    <a class="item mob-psycho-tab-item" data-tab="description">Description</a>
    <a class="item mob-psycho-tab-item" data-tab="items">Kit and Items</a>
    <a class="item mob-psycho-tab-item" data-tab="abilities">Abilities</a>
    <a class="item mob-psycho-tab-item" data-tab="sin">Sin</a>
    <a class="item mob-psycho-tab-item" data-tab="talismans">Talismans</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body mob-psycho-body character-drop-target">

    {{!-- Owned Features Tab --}}
    <div class="tab" data-group="primary" data-tab="features">
  
      <section class="grid grid-3col mob-psycho-grid">
        <aside class="sidebar mob-psycho-sidebar">
        <h3 class="mob-psycho-heading">Skills</h3>
        {{#each system.skills as |skill key|}}
          <div class="ability flexrow flex-group-center mob-psycho-ability">
          <label for="system.skills.{{key}}.value" class="resource-label rollable flexlarge align-left mob-psycho-label" 
                data-roll="{{#if (eq skill.value 0)}}2d6kl1cs>=4{{else}}{{skill.value}}d6cs>=4{{#if (gt ../system.extraDice.value 0)}}+{{../system.extraDice.value}}d6cs>=4{{/if}}{{/if}}" 
                data-label="{{localize (lookup @root.config.skills key)}}">
            {{localize (lookup @root.config.skills key)}}
          </label>        
          <input type="number" name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" class="mob-psycho-input"/>
        </div>
        {{/each}}

        <div class="extra-dice-section flexrow flex-group-center mob-psycho-extra-dice">
          <label for="system.extraDice.value" class="resource-label flexlarge align-left mob-psycho-label">EXTRA d6 to ROLLS</label>
          <input type="number" name="system.extraDice.value" value="{{system.extraDice.value}}" data-dtype="Number" min="0" max="6" class="mob-psycho-input"/>
        </div>
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
        <h3 class="mob-psycho-heading">Afflictions</h3>
          {{#each currentAfflictions}}
          <div class="affliction flexrow flex-group-center mob-psycho-affliction">
              <div class="flexcol affliction-content">
                  <h2><b>Title</b></h2>
                  <p class="affliction-description">
                      {{formatted this.system.afflictionDescription}}
                  </p>
              </div>
              <div class="flexcol remove-affliction-div">
                <button data-id="{{this.id}}" class="remove-affliction-button"> 
                  <i class="fas fa-trash"></i>
                </button>
              </div>
          </div>
          {{/each}}
          <button id="add-affliction" class="add-affliction-button" style="background-color: #660000; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 1em; width: 100%; display: inline-block;">Add Affliction </button>


        <div class="rest-dice-section flexrow mob-psycho-rest-dice">
          <label for="system.restDiceModifier" class="resource-label flexlarge align-left mob-psycho-label">Rest Dice Modifier</label>
          <input type="number" name="system.restDiceModifier" value="{{system.restDiceModifier}}" data-dtype="Number" class="mob-psycho-input"/>
        </div>
          <button type="button" class="roll-rest-dice mob-psycho-button">Roll Rest Dice</button>

        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2 mob-psycho-main">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/cain/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography mob-psycho-tab" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      
      {{editor enrichedBiography target="system.biography" button=True engine="prosemirror" button=true editable=editable class="mob-psycho-editor"}}
      
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items mob-psycho-tab" data-group="primary" data-tab="items">
       {{> "systems/cain/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells mob-psycho-tab" data-group="primary" data-tab="abilities">
      {{> "systems/cain/templates/actor/parts/actor-abilities.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol mob-psycho-tab" data-group="primary" data-tab="sin">
      {{> "systems/cain/templates/actor/parts/actor-sin.hbs"}}
    </div>

    <div class="tab effects flexcol mob-psycho-tab" data-group="primary" data-tab="talismans">
      {{> "systems/cain/templates/actor/parts/actor-talismans.hbs"}}
    </div>

  </section>
</form>

<style>
.affliction {
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px 0;
    margin-bottom: 10px 0;
    margin-left: 10px 0;
    margin-right: 0px 0;
    background-color: #fff;
    color: black;
}

.affliction-content {
    line-height: 1.4;
    padding-right: 2px; /* Add padding to give space between content and trashcan */
}

.affliction-description {
    margin: 5px 0;
    color: #333;
    line-height: 1.4;
}

.remove-affliction-div {
    padding-left: 0 0px;
    padding-top: 10 0px;
    height: 150px;
    width: 10%; /* Restrict the width to 20% */
    display: flex;
    justify-content: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    max-width: 30px; /* Optional: Set a max-width if you want to prevent it from becoming too large */
}

.remove-affliction-button {
    background-color:brown;
    border-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0px solid white;
}

.remove-affliction-button:hover {
    box-shadow: 0 0 10px 5px rgba(128, 0, 128, 0.75); /* Purple glow effect */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.remove-affliction-button i {
    color: black;
    font-size: 16px;
    text-align: center; /* Center the icon within its container */
}
</style>