<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">

    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200"/>
                                   
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      <div class="grid grid-4col">
        <div class="flex-group-center">
          <label for="system.sex" class="resource-label">Sex</label>
          <input type="text" name="system.sex" value="{{system.sex}}" data-dtype="String"/>
        </div>
        
        <div class="flex-group-center">
          <label for="system.height" class="resource-label">Height</label>
          <input type="text" name="system.height" value="{{system.height}}" data-dtype="String"/>
        </div>

        <div class="flex-group-center">
          <label for="system.weight" class="resource-label">Weight</label>
          <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="String"/>
        </div>

        <div class="flex-group-center">
          <label for="system.hair" class="resource-label">Hair</label>
          <input type="text" name="system.hair" value="{{system.hair}}" data-dtype="String"/>
        </div>

        <div class="flex-group-center">
          <label for="system.eyes" class="resource-label">Eyes</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.eyes" value="{{system.eyes}}" data-dtype="String"/>
          </div>
        </div>

        <div class="flex-group-center">
          <label for="system.agenda" class="resource-label">Agenda</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.agenda" value="{{system.agenda}}" data-dtype="String"/>
          </div>
        </div>

        <div class="flex-group-center">
          <label for="system.blasphemy" class="resource-label">Blasphemy</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.blasphemy" value="{{system.blasphemy}}" data-dtype="String"/>
          </div>
        </div>

        <div class="flex-group-center">
          <label for="system.XID" class="resource-label">XID</label>
          <input type="text" name="system.XID" value="{{system.XID}}" data-dtype="Number"/>
        </div>
      </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Stats & Advancements</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Kit and Items</a>
    <a class="item" data-tab="spells">Abilities</a>
    <a class="item" data-tab="effects">Sin</a>
    <a class="item" data-tab="effects">Talismans</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="abilities flexcol">
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup @root.config.abilities key)}}</label>
              <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/cain/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/cain/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/cain/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/cain/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>