<form class="{{cssClass}} {{actor.type}} flexcol mob-psycho-theme no-border" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header mob-psycho-header character-drop-target">

    <img class="profile-img mob-psycho-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200"/>

    <div class="header-fields mob-psycho-header-fields">
      <h1 class="charname mob-psycho-charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      <div class="grid grid-4col">
        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.sex" class="resource-label mob-psycho-label">Sex</label>
          <input type="text" name="system.sex" value="{{system.sex}}" data-dtype="String" class="mob-psycho-input"/>
        </div>
        
        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.height" class="resource-label mob-psycho-label">Height</label>
          <input type="text" name="system.height" value="{{system.height}}" data-dtype="String" class="mob-psycho-input"/>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.weight" class="resource-label mob-psycho-label">Weight</label>
          <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="String" class="mob-psycho-input"/>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.hair" class="resource-label mob-psycho-label">Hair</label>
          <input type="text" name="system.hair" value="{{system.hair}}" data-dtype="String" class="mob-psycho-input"/>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.eyes" class="resource-label mob-psycho-label">Eyes</label>
          <div class="resource-content flexrow flex-center flex-between mob-psycho-resource-content">
            <input type="text" name="system.eyes" value="{{system.eyes}}" data-dtype="String" class="mob-psycho-input"/>
          </div>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.agenda" class="resource-label mob-psycho-label">Agenda</label>
          <div class="resource-content flexrow flex-center flex-between mob-psycho-resource-content">
            <input type="text" name="system.agenda" value="{{system.agenda}}" data-dtype="String" class="mob-psycho-input"/>
          </div>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.blasphemy" class="resource-label mob-psycho-label">Blasphemy</label>
          <div class="resource-content flexrow flex-center flex-between mob-psycho-resource-content">
            <input type="text" name="system.blasphemy" value="{{system.blasphemy}}" data-dtype="String" class="mob-psycho-input"/>
          </div>
        </div>

        <div class="flex-group-center mob-psycho-flex-group">
          <label for="system.XID" class="resource-label mob-psycho-label">XID</label>
          <div style="padding: 5px">
            <input type="text" name="system.XID" value="{{system.XID}}" data-dtype="String" class="mob-psycho-input"/>
          </div>
        </div>
      </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs mob-psycho-tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item mob-psycho-tab-item" data-tab="features">Stats & Advancements</a>
    <a class="item mob-psycho-tab-item" data-tab="description">Bio & Bonds</a>
    <a class="item mob-psycho-tab-item" data-tab="items">Kit and Items</a>
    <a class="item mob-psycho-tab-item" data-tab="abilities">Abilities</a>
    <a class="item mob-psycho-tab-item" data-tab="sin">Sin</a>
    <a class="item mob-psycho-tab-item" data-tab="talismans">Talismans</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body mob-psycho-body character-drop-target">

    {{!-- Owned Features Tab --}}
    <div class="tab" data-group="primary" data-tab="features">
      <section class="grid grid-3col mob-psycho-grid">
        <aside class="sidebar mob-psycho-sidebar">
          <h3 class="mob-psycho-heading">{{localize "CAIN.Skills"}}</h3>
          {{#each system.skills as |skill key|}}
            <div class="ability flexrow mob-psycho-ability flex-group-center">
              <label for="system.skills.{{key}}.value" class="resource-label rollable mob-psycho-label" 
                    data-roll="{{#if (eq skill.value 0)}}2d6kl1cs>=4{{else}}{{skill.value}}d6cs>=4{{#if (gt ../system.extraDice.value 0)}}+{{../system.extraDice.value}}d6cs>=4{{/if}}{{/if}}" 
                    data-label="{{localize (concat 'CAIN.Skill.' key '.long')}}"
                    data-tooltip="{{localize (concat 'CAIN.Skill.' key '.description')}}">
                {{localize (concat 'CAIN.Skill.' key '.long')}}
              </label>     
              <div class="flexrow ability-dots circle-checkboxes">
                {{#range 0 4}}
                  <input type="checkbox" id="ability-{{key}}-{{index}}" class="skills-checkbox {{#if (eq index 3)}}fourth-checkbox{{/if}}" {{#if (lt index skill.value)}}checked{{/if}} data-skill_key="{{key}}" data-skill_value="{{CainOffset index 1}}"/>
                  <label for="ability-{{key}}-{{index}}" class="{{#if (eq index 3)}}fourth-checkbox-label{{/if}}"></label>
                {{/range}}
              </div>   
            </div>
          {{/each}}
        {{!-- Psyche Roll --}}
        <div class="ability flexrow mob-psycho-ability flex-group-center">
          <label class="resource-label rollable mob-psycho-label"
                data-roll="{{system.psyche}}d6cs>=4{{#if (gt system.extraDice.value 0)}}+{{system.extraDice.value}}d6cs>=4{{/if}}"
                data-label="Psyche"
                data-tooltip="Roll your psyche dice">
            Psyche
          </label>
          <div class="flexrow ability-dots" style="justify-content: center; align-items: center;">
            <span style="color: #ff00cc; font-weight: bold; font-size: 1.2em;">{{system.psyche}}d6</span>
          </div>
        </div>
        <div class="extra-dice-section flexrow flex-group-center mob-psycho-extra-dice">
          <label for="system.extraDice.value" class="resource-label flexlarge align-left mob-psycho-label">EXTRA d6 to ROLLS</label>
          <input type="number" name="system.extraDice.value" value="{{system.extraDice.value}}" data-dtype="Number" min="0" max="6" class="mob-psycho-input"/>
        </div>
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
        <h3 class="mob-psycho-heading">Afflictions</h3>
          {{#each currentAfflictions}}
          <div class="affliction flexrow flex-group-center mob-psycho-affliction">
              <div class="flexcol affliction-content">
                  <h2><b>{{this.system.afflictionName}}</b></h2>
                  <p class="affliction-description">
                      {{formatted this.system.afflictionDescription}}
                  </p>
              </div>
              <div class="flexcol remove-affliction-div">
                <button data-index="{{@index}}" class="remove-affliction-button"> 
                  <i class="fas fa-trash"></i>
                </button>
              </div>
          </div>
          {{/each}}
        <button type="button" id="add-affliction" class="add-affliction-button">Add Affliction</button>

        <div class="rest-dice-section flexrow mob-psycho-rest-dice">
          <label for="system.restDiceModifier" class="resource-label flexlarge align-left mob-psycho-label">Rest Dice Modifier</label>
          <input type="number" name="system.restDiceModifier" value="{{system.restDiceModifier}}" data-dtype="Number" class="mob-psycho-input"/>
        </div>
          <button type="button" class="roll-rest-dice mob-psycho-button">Roll Rest Dice</button>

        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2 mob-psycho-main">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/cain/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Bio & Bonds Tab --}}
    <div class="tab biography mob-psycho-tab" data-group="primary" data-tab="description">
      {{!-- Biography Section --}}
      <section class="bio-section">
        <h3 class="mob-psycho-heading">Biography</h3>
        {{editor enrichedBiography target="system.biography" button=True engine="prosemirror" button=true editable=editable class="mob-psycho-editor"}}
      </section>

      {{!-- Bonds Section --}}
      <section class="bonds-section">
        <h3 class="mob-psycho-heading">Bonds</h3>
        <p class="bonds-info">
          <i class="fas fa-info-circle"></i>
          Pick a virtue to bond with at the start of a mission. Surviving missions increases your bond level (max 3).
          Bond benefits are permanent even when not actively bonding.
        </p>

        <div class="character-bonds-list">
          {{#each characterBonds}}
            <div class="character-bond-entry" data-bond-id="{{this._id}}">
              <div class="bond-header-row">
                <img src="{{this.img}}" class="bond-img" alt="{{this.name}}"/>
                <div class="bond-info">
                  <h4 class="bond-name">{{this.name}}</h4>
                  <span class="virtue-name">Virtue: {{this.system.virtueName}}</span>
                </div>
                <div class="bond-level-tracker">
                  <span class="bond-level-label">Bond Level:</span>
                  <div class="bond-level-dots">
                    <input type="checkbox" class="bond-level-checkbox" data-bond-id="{{this._id}}" data-level="0" {{#if (gte this.system.currentLevel 1)}}checked{{/if}}/>
                    <input type="checkbox" class="bond-level-checkbox" data-bond-id="{{this._id}}" data-level="1" {{#if (gte this.system.currentLevel 2)}}checked{{/if}}/>
                    <input type="checkbox" class="bond-level-checkbox" data-bond-id="{{this._id}}" data-level="2" {{#if (gte this.system.currentLevel 3)}}checked{{/if}}/>
                  </div>
                </div>
              </div>

              {{!-- Strictures at top --}}
              {{#if this.system.strictures.length}}
                <div class="bond-strictures-reminder">
                  <strong><i class="fas fa-exclamation-triangle"></i> Strictures:</strong>
                  <ul>
                    {{#each this.system.strictures}}
                      <li>{{this}}</li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}

              {{!-- Show current level abilities --}}
              <div class="bond-current-abilities">
                {{#each this.abilities}}
                  {{#if (lte this.system.bondLevel ../system.currentLevel)}}
                    <div class="bond-ability-unlocked" data-ability-id="{{this._id}}" data-bond-id="{{../_id}}">
                      <div class="bond-ability-header-row">
                        <span class="ability-level">Lvl {{this.system.bondLevel}}</span>
                        <strong class="ability-name">{{this.system.abilityName}}</strong>
                        {{#if this.system.isPermanent}}
                          <span class="ability-permanent-tag">Permanent</span>
                        {{/if}}
                      </div>
                      <p class="ability-description">{{this.system.abilityDescription}}</p>
                      {{#if this.system.requiresPsycheBurst}}
                        <p class="ability-psyche-cost">
                          <i class="fas fa-brain"></i>
                          {{#if (eq this.system.psycheBurstCost 0)}}
                            Requires all remaining Psyche Bursts (min 1)
                          {{else}}
                            Requires {{this.system.psycheBurstCost}} Psyche Burst(s)
                          {{/if}}
                        </p>
                      {{/if}}
                      <div class="ability-actions">
                        <button type="button" class="bond-ability-chat" data-ability-id="{{this._id}}" title="Send to Chat">
                          <i class="fas fa-comment"></i>
                        </button>
                        {{#if this.system.requiresPsycheBurst}}
                          <button type="button" class="bond-ability-spend-psyche" data-ability-id="{{this._id}}" data-cost="{{this.system.psycheBurstCost}}" title="Spend Psyche Burst">
                            <i class="fas fa-brain"></i> Use
                          </button>
                        {{/if}}
                      </div>
                    </div>
                  {{/if}}
                {{/each}}
              </div>

              <div class="bond-actions">
                <button type="button" class="open-bond-sheet" data-bond-id="{{this._id}}">
                  <i class="fas fa-book-open"></i> View Full Bond
                </button>
                <button type="button" class="remove-bond" data-bond-id="{{this._id}}">
                  <i class="fas fa-trash"></i> Remove
                </button>
              </div>
            </div>
          {{else}}
            <p class="no-bonds">No bonds assigned. Drag a Bond item here to add one.</p>
          {{/each}}
        </div>
      </section>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items mob-psycho-tab" data-group="primary" data-tab="items">
       {{> "systems/cain/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells mob-psycho-tab" data-group="primary" data-tab="abilities">
      {{> "systems/cain/templates/actor/parts/actor-abilities.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol mob-psycho-tab" data-group="primary" data-tab="sin">
      {{> "systems/cain/templates/actor/parts/actor-sin.hbs"}}
    </div>

    <div class="tab effects flexcol mob-psycho-tab" data-group="primary" data-tab="talismans">
      {{> "systems/cain/templates/actor/parts/actor-talismans.hbs"}}
    </div>

  </section>
</form>

<style>
.affliction {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 25px;
    padding-left: 2px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 20px 0;
    margin-bottom: 20px 0;
    margin-left: 10px 0;
    margin-right: 0px 0;
    background-color: #404040;
    color: aliceblue;
}

.affliction-content {
    line-height: 1.4;
    padding-right: 2px; /* Add padding to give space between content and trashcan */
}

.affliction-description {
    margin: 5px 0;
    color:aliceblue;
    line-height: 1.4;
}

.remove-affliction-div {
    padding-left: 0 0px;
    padding-top: 0 0px;
    display: flex;
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    max-width: 30px; /* Optional: Set a max-width if you want to prevent it from becoming too large */
}

.remove-affliction-button {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 30px;
    background-color: brown;
    border-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0px solid white;
}

.remove-affliction-button i {
    color: black;
    font-size: 16px;
    text-align: center; /* Center the icon within its container */
}

.add-affliction-button {
  background-color: brown;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

/* Styles for the fourth checkbox */
input[type="checkbox"].fourth-checkbox+label::before {
  border: 3px solid rgb(255, 85, 85); /* Change this color to your desired border color */
}

input[type="checkbox"].fourth-checkbox:checked+label::before {
  background-color: rgb(255, 85, 85); /* Change this color to your desired background color */
}

/* Bio & Bonds Tab Styles */
.bio-section {
  margin-bottom: 1.5em;
}

.bio-section .editor {
  min-height: 400px;
}

.bio-section .editor .editor-content {
  min-height: 380px;
}

.bonds-section {
  margin-top: 2em;
  padding: 1em;
  background-color: #1a1a1a;
  border-radius: 8px;
}

.bonds-info {
  color: #e0e0e0;
  font-style: italic;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: #252525;
  border-radius: 4px;
  border-left: 3px solid #e94560;
}

.bonds-info i {
  color: #e94560;
  margin-right: 0.5em;
}

.character-bonds-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.character-bond-entry {
  background-color: #252525;
  border-radius: 8px;
  padding: 1em;
}

.bond-header-row {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
}

.bond-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #e94560;
}

.bond-info {
  flex-grow: 1;
}

.bond-name {
  margin: 0;
  color: #fff;
  font-size: 1.2em;
}

.virtue-name {
  color: #e94560;
  font-size: 0.9em;
}

.bond-level-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bond-level-label {
  color: #aaa;
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

.bond-level-dots {
  display: flex;
  gap: 0.3em;
}

.bond-level-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.bond-current-abilities {
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.bond-ability-unlocked {
  background-color: #1a1a1a;
  border-radius: 4px;
  padding: 0.5em;
  color: #e0e0e0;
}

.bond-ability-header-row {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.3em;
}

.ability-level {
  background-color: #e94560;
  color: #fff;
  padding: 0.1em 0.4em;
  border-radius: 3px;
  font-size: 0.75em;
  flex-shrink: 0;
}

.ability-name {
  flex-grow: 1;
}

.ability-permanent-tag {
  background-color: #5cb85c;
  color: #fff;
  padding: 0.1em 0.4em;
  border-radius: 3px;
  font-size: 0.7em;
  flex-shrink: 0;
}

.ability-description {
  margin: 0.5em 0;
  font-size: 0.9em;
  line-height: 1.5;
  padding: 0.5em;
  background-color: #202020;
  border-radius: 4px;
  min-height: 3em;
}

.ability-psyche-cost {
  color: #d9534f;
  font-style: italic;
  font-size: 0.85em;
  margin: 0.3em 0;
}

.ability-psyche-cost i {
  margin-right: 0.3em;
}

.ability-actions {
  display: flex;
  gap: 0.3em;
  margin-top: 0.4em;
  justify-content: flex-end;
}

.ability-actions button {
  padding: 0.2em 0.5em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.8em;
}

.bond-ability-chat {
  background-color: #4a90d9;
  color: #fff;
}

.bond-ability-chat:hover {
  background-color: #357abd;
}

.bond-ability-spend-psyche {
  background-color: #d9534f;
  color: #fff;
}

.bond-ability-spend-psyche:hover {
  background-color: #c9302c;
}

.bond-strictures-reminder {
  background-color: #1a1a1a;
  border-left: 3px solid #f39c12;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.5em 0;
  color: #f39c12;
  font-size: 0.9em;
}

.bond-strictures-reminder ul {
  margin: 0.3em 0 0 1.5em;
  padding: 0;
}

.bond-strictures-reminder li {
  margin-bottom: 0.2em;
}

.bond-actions {
  display: flex;
  gap: 0.5em;
  margin-top: 0.5em;
}

.bond-actions button {
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85em;
}

.open-bond-sheet {
  background-color: #333;
  color: #fff;
  border: none;
}

.open-bond-sheet:hover {
  background-color: #e94560;
}

.remove-bond {
  background-color: #1a1a1a;
  color: #888;
  border: none;
}

.remove-bond:hover {
  background-color: #d9534f;
  color: #fff;
}

.no-bonds {
  color: #888;
  font-style: italic;
  text-align: center;
  padding: 2em;
}

</style>