<form class="{{cssClass}} {{system.blasphemyType}}-theme" autocomplete="off">

<div class="form-group">
  <label for="abilityName" data-id="{{this.id}}" class="item-click">Ability Name</label>
  <input disabled type="text" name="system.abilityName" value="{{system.abilityName}}" data-dtype="String"/>
</div>

<div class="form-group">
  <label for="abilityDescription" data-id="{{this.id}}" class="item-click">Ability Description</label>
  <textarea disabled name="system.abilityDescription" data-dtype="String">{{system.abilityDescription}}</textarea>
</div>

<div class="form-group">
  <label for="bodyPartName" data-id="{{this.id}}" class="item-click">Body Part Name</label>
  <input disabled type="text" name="system.bodyPartName" value="{{system.bodyPartName}}" data-dtype="String"/>
</div>
</form>

<style>
  .item-click {
    cursor: pointer;
  }

  .item-click:hover {
    text-decoration: underline;
  }
</style>