<form class='{{cssClass}}, homebrew-background' autocomplete='off'>
  <header class='sheet-header homebrew-header '>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs homebrew-tabs' data-group='primary'>
    <a class='item' data-tab='agenda'>Agenda</a>
    <a class='item' data-tab='blasphemy'>Blasphemy</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body homebrew-body'>
    <div class='tab homebrew-text-color' data-group='primary' data-tab='agenda'>
        {{!-- {{#each agendaOptions.tasks}}
        <li class="homebrew-text-color" data-homebrew-index="{{@index}}"> {{#if this.isBold}}<b>{{/if}}{{this.task}}{{#if this.isBold}}</b>{{/if}} <button class="homebrew-text-color homebrew-toggle-bold" data-homebrew-index="{{@index}}">Toggle Bold</button></li>
        {{/each}} --}}
        <textarea class="editable-item-input homebrew-text-color homebrew-agenda-name-input">{{agendaOptions.name}}</textarea>
        <ul>
        {{#each agendaOptions.tasks}}
            <li class='item flexrow'>
              <textarea class="editable-item-input homebrew-text-color homebrew-task-input" data-task-index="{{@index}}" style="font-weight: {{#if this.isBold}}bold{{else}}normal{{/if}};">{{this.task}}</textarea>
              <div class="item-controls">
                <a class="item-control homebrew-toggle-bold homebrew-text-color" data-task-index="{{@index}}" title="Bold Text">
                  <i class="fas fa-bold {{#if this.isBold}}fa-solid{{else}}fa-thin{{/if}}"></i>
                </a>
                <a class="item-control homebrew-remove-task homebrew-text-color" data-task-index="{{@index}}" title="Remove">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
        {{/each}}
        </ul>
        <button class="homebrew-text-color homebrew-new-task">Additional Task</button>
        <ul>
        {{#each agendaOptions.abilities}}
            <li class='item flexrow'>
              <textarea class="editable-item-input homebrew-text-color homebrew-ability-name-input" data-ability-index="{{@index}}">{{this.name}}</textarea>
              <textarea class="editable-item-input homebrew-text-color homebrew-ability-input" data-ability-index="{{@index}}">{{this.ability}}</textarea>
              <div class="item-controls">
                <a class="item-control homebrew-remove-ability homebrew-text-color" data-task-index="{{@index}}" title="Remove">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </li>
        {{/each}}
        </ul>
        <button class="homebrew-text-color homebrew-new-ability">Additional Ability</button>
        <footer style="position:absolute; bottom: 1%; width: 90%;"><button class="homebrew-text-color homebrew-submit-agenda">Create Agenda</button></footer>
    </div>
    <div class='tab homebrew-text-color' data-group='primary' data-tab='blasphemy'>
      <ul>
      </ul>
    </div>

  </section>
</form>