<form class='{{cssClass}}, agenda-background' autocomplete='off'>
  <header class='sheet-header agenda-header '>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname agenda-name'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs agenda-tabs' data-group='primary'>
    <a class='item' data-tab='tasks'>Tasks</a>
    <a class='item' data-tab='abilities'>Abilities</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body agenda-body'>
      <div class='tab agenda-text-color' data-group='primary' data-tab='tasks'>
          <ul>
            <li> {{item.system.primaryTask.task}} </li>
          {{#each item.system.boldedTasks}}
            <li>
            <b>{{this.task}}</b>
            </li>
          {{/each}}
          </ul>
    </div>
      </div>
    {{! Abilities Tab }}
    <div class='tab agenda-text-color' data-group='primary' data-tab='abilities'>
      <ul>
      {{#each item.system.abilities}}
        <li> <b>{{this.name}}:</b> {{this.description}}</li>
      {{/each}}
      </ul>
    </div>
  </section>
</form>