<form class='{{cssClass}} domain-card paper-texture2 {{system.sinSource}}' autocomplete='off'>
  <header>
    <div class='header-fields domain-header'>
      <h1>
        <input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
          class='domain-name-input {{system.sinSource}}' />
      </h1>
    </div>
  </header>
  <div class="row dashed-line">
  </div>
  <div class='sheet-body domain-body'>
    <textarea
      class='domain-description'
      name='system.domainDescription'
      data-dtype='String'
      rows='10'
    >{{system.domainDescription}}</textarea>
    {{#if editable}}
      <hr>
      <div class="domain-option">
        <span><b>Sin Source:</b></span>
        <select id="sinTypeSelect" name="system.sinSource">
          <option value="ogre" {{#if (eq system.sinSource "ogre")}}selected{{/if}}>Ogre</option>
          <option value="toad" {{#if (eq system.sinSource "toad")}}selected{{/if}}>Toad</option>
          <option value="idol" {{#if (eq system.sinSource "idol")}}selected{{/if}}>Idol</option>
          <option value="lord" {{#if (eq system.sinSource "lord")}}selected{{/if}}>Lord</option>
          <option value="hound" {{#if (eq system.sinSource "hound")}}selected{{/if}}>Hound</option>
          <option value="centipede" {{#if (eq system.sinSource "centipede")}}selected{{/if}}>
            Centipede
          </option>
          <option value="redacted" {{#if (eq system.sinSource "redacted")}}selected{{/if}}>
            [REDACTED]
          </option>
        </select>
      </div>
      <div class="domain-option">
        <span><b>Targets exorcist?</b></span>
        <input type="checkbox" name="system.selectsExorcist" value="{{system.selectsExorcist}}"/>
      </div>
      {{#unless system.afflictionEffect}}
        <div class="affliction-drop-target">{{system.afflictionEffect.name}}</div>
      {{else}}
        <span class="affliction-drop-target">{{afflictionName}}</span>
      {{/unless}}
    {{/if}}
  </div>
</form>