<form class='{{cssClass}}, agenda-background' autocomplete='off'>
  <header class='sheet-header agenda-header '>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname agenda-name'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs agenda-tabs' data-group='primary'>
    <a class='item' data-tab='tasks'>Tasks</a>
    <a class='item' data-tab='abilities'>Abilities</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body agenda-body'>
      <div class='tab agenda-text-color' data-group='primary' data-tab='tasks'>
          <ul>
          {{#each agendaUnboldedTaskData}}
            <li style="color: red;">
            {{this.system.task}}
            </li>
          {{/each}}
          {{#each agendaBoldedTaskData}}
            <li style="color: red;">
            <b>{{this.system.task}}</b>
            </li>
          {{/each}}
          </ul>
          {{#if developerMode}}
          <form>
            <div class="form-group">
              <label for="selectedItem">Select Item:</label>
              <select name="selectedItem" id="selectedItem" style="background-color:antiquewhite">
                {{#each agenda_tasks}}
                  <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group" style="background-color:antiquewhite">
              <button type="submit" id="addTaskToAgenda" style="background-color:antiquewhite">Add Task to Agenda</button>
            </div>
          </form>

          {{/if}}
    </div>
      </div>
    {{! Abilities Tab }}
    <div class='tab agenda-text-color' data-group='primary' data-tab='abilities'>
      <ul>
      {{#each agendaAbilityData}}
        <li class="agenda-text-color"> <b>{{this.system.abilityName}}:</b> {{this.system.abilityDescription}}</li>
      {{/each}}
      </ul>
    </div>
  </section>
</form>